apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dotnet-files-claim
  namespace: meetx
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-dotnet
  namespace: meetx
spec:
  selector:
    matchLabels:
      app: server-dotnet
  template:
    metadata:
      labels:
        app: server-dotnet
    spec:
      containers:
      - name: server-dotnet
        image: meetx-server-dotnet:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: meetx-secrets
              key: POSTGRES_PASSWORD
        - name: ConnectionStrings__WebAppDatabase
          value: "Host=meetx-db;Port=5432;Database=meetx;Username=meetx;Password=$(POSTGRES_PASSWORD)"
        - name: JwtConfiguration__Key
          valueFrom:
            secretKeyRef:
              name: meetx-secrets
              key: JWT_KEY
        - name: JwtConfiguration__Issuer
          value: "https://my.app"
        - name: JwtConfiguration__Audience
          value: "https://my.app"
        - name: RefreshJwtConfiguration__Key
          valueFrom:
            secretKeyRef:
              name: meetx-secrets
              key: REFRESH_JWT_KEY
        - name: RefreshJwtConfiguration__Issuer
          value: "https://my.app"
        - name: RefreshJwtConfiguration__Audience
          value: "https://my.app"
        - name: CorsConfiguration__Origins__0
          value: "http://localhost:8080"
        - name: CorsConfiguration__Origins__1
          value: "http://localhost:3001"
        - name: CorsConfiguration__Origins__2
          value: "http://localhost:80"
        - name: CorsConfiguration__Origins__3
          value: "http://localhost"
        - name: CorsConfiguration__Origins__4
          value: "http://meetx"
        - name: CorsConfiguration__Origins__5
          value: "http://server-auth"
        - name: LinkedInConfiguration__ClientId
          value: "777xvafbt8y9ov"
        - name: LinkedInConfiguration__ClientSecret
          valueFrom:
            secretKeyRef:
              name: meetx-secrets
              key: LINKEDIN_CLIENT_SECRET
        - name: FileStorageConfiguration__SavePath
          value: "./wwwroot"
        - name: MailConfiguration__MailEnable
          value: "true"
        - name: MailConfiguration__MailHost
          value: "sandbox.smtp.mailtrap.io"
        - name: MailConfiguration__MailPort
          value: "2525"
        - name: MailConfiguration__MailAddress
          value: "team@meetx.com"
        - name: MailConfiguration__MailUser
          value: "63cfb840afb0b1"
        - name: MailConfiguration__MailPassword
          valueFrom:
            secretKeyRef:
              name: meetx-secrets
              key: MAIL_PASSWORD
        volumeMounts:
        - name: dotnet-files
          mountPath: /app/wwwroot
      volumes:
      - name: dotnet-files
        persistentVolumeClaim:
          claimName: dotnet-files-claim
---
apiVersion: v1
kind: Service
metadata:
  name: server-dotnet
  namespace: meetx
spec:
  type: LoadBalancer
  selector:
    app: server-dotnet
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
